
<ion-header>

  <ion-navbar color="danger">
    <ion-title>
      <small>
        {{ comments.length }} people have commented.
      </small>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="close();"></button>
      <ion-icon name="close"></ion-icon>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-icon item-left name="ios-chatbubbles-outline"></ion-icon>
      <h2>
        <small>
          {{ comment.data().text }}
        </small>

        <p>
          <small>
            {{ comment.data().owner_name }} <i *ngIf="comment.data().created">{{ ago(comment.data().created.toDate()) }} ago</i>
          </small>
        </p>

      </h2>
    </ion-item>
  </ion-list>

</ion-content>
